.footer {
  padding-top: 40px;
  padding-bottom: 80px;

  svg {
    fill: #424436;
  }

  &-dark {
    background-color: #424436;

    .pageSectionTitle {
      h2 {
        color: #fff;
      }
    }

    .footer__item {
      background-color: #383a2c;

      &_descr {
        color: #8b8b8b;
      }

      &_info {
        color: #fff;
      }

      svg {
        fill: #fff;
      }
    }
  }
}
.footer__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #424436;
  padding-bottom: 40px;
}

.footer__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}

.footer__item {
  background: #f2f6d3;
  border-radius: 12px;
  padding: 32px;
  max-width: 780px;
  // max-height: 194px;
}

.footer__item_descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #8b8b8b;
  margin-bottom: 16px;
}

.footer__item_info, .footer__item_info-nowrap{
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: #424436;

  &-nowrap {
    white-space: nowrap; /* Предотвращает перенос текста на другую строку */
  }
}

.footer__item_image {
  margin-right: 18px;
}

iframe {
  width: 100%;
}
@media(max-width: 768px) {
  .footer__items {
    grid-template-columns: 2fr, 1fr;
  }
}
@media(max-width: 480px),(max-width: 360px) {
  .footer__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media(max-width: 480px),(max-width: 360px) {
  .footer__item_descr {
    font-size: 18px;
  }
  .footer__item_info {
    font-size: 28px;
  }
}

