.main__text {
  font-weight: 700;
  font-size: 96px;
  line-height: 110%;
  color: #fffff1;
  margin-bottom: 40px;
}

.main__button_large {
  width: auto;

  &:hover {
    background: #7d8c2e;
  }
}

.main-content {
  padding-bottom: 40px;

  &-light {
    background-color: #fffff1;
  }

  &-dark {
    background-color: #424436;
  }

  &__item {
    position: absolute;
    padding-top: 80px;
    padding-left: 40px;
    top: 0;
    left: 0;
    max-width: 1360px;
  }

  &__items {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden; /* Скрыть излишки изображения */
  }

  &__image {
    // display: block;
    width: 100%;

    object-fit: cover; /* Изображение покроет весь контейнер, обрезав излишки */
  }
}

@media (max-width: 1000px) {
  .main__text {
    font-size: 80px;
  }

  .main-content__item {
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .main__text {
    font-size: 68px;
  }
}

@media (max-width: 768px) {
  .main-content__items {
    img {
      height: 634px;
    }
  }
}

@media (max-width: 480px) {
  .main__text {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .main-content__items {
    img {
      height: 600px;
    }
  }
}

@media (max-width: 768px) {
  .main__button_large {
    font-size: 1rem;
    padding: 0.75rem 2.5rem;
  }
}

@media (max-width: 480px) {
  .main__button_large {
    font-size: 0.875rem;
    padding: 0.5rem 2rem;
  }

  .main-content__item {
    padding: 10% 5%;
  }
}
@media (max-width: 360px) {
  .main__button_large {
    font-size: 0.75rem;
    padding: 0.5rem 1.5rem;
  }

  .main-content__item {
    padding: 15% 5%;
  }
}

@media (max-width: 360px) {
  .main__text {
    font-size: 52px;
  }
}
