.filter-container {
  display: flex;
  max-width: 908px;
  gap: 40px;
  margin-bottom: 40px;
  align-items: center;
}
.price__block {
  max-width: 309px;
  display: flex;
  gap: 16px;
}
input[type="number"] {
  max-width: 112px;
  padding: 0 16px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #8b8b8b;
}
select {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px 8px 8px 16px;  
  max-width: 200px;
  
}
option {
  font-size: 16px;
  line-height: 126%;
  margin-right: 8px;
}
label {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  
}
.discounted {
  display: flex; 
  max-width: 234px;
  align-items: center;
  gap: 16px;
}

input[type="checkbox"] {
  width: 36px;
  height: 36px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.sort {
  display: flex;
  max-width: 285px;
  align-items: center;
  gap: 16px;
}



.productListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
    gap: 32px; 
}
.product__card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff; 
  overflow: hidden;
}

/* .productCardcСontainer { */
    /* flex: 1 1 calc(25% - 16px); 
    box-sizing: border-box; */
    /* position: relative;
    gap: 32px;
    background: #fff; */
    /* padding: 16px; */
    /* text-align: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    max-width: 316px; */
/* } */
/* .sale__discount__Perc {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #92a134;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 9px;
    width: 68px;
    height: 34px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sale__icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 106px;
    padding: px;
    gap: 20px;
  } */