.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  &-light a {
    color: #424436;

    .users-menu .heart {
      stroke: #424436;
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-width: 2.2;
    }

    .users-menu .cart {
      fill: #424436;
    }
  }

  &-dark {
    background-color: #424436;

    a {
      color: #fff;
    }

    .navbar__item-active {
      border-bottom: 2px solid #fff;
    }

    .users-menu .heart {
      stroke: #fffff1;
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-width: 2.2;
    }

    .users-menu .cart {
      fill: #fffff1;
    }
  }
}

.company-style {
  display: flex;
  align-items: center;
  gap: 22px;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 30px 0;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu__button {
  text-align: center;
  margin-bottom: 12px;

  &_small {
    border: none;
    border-radius: 6px;
    padding: 6px 16px;
    width: 151px;
    height: 32px;
    background: #92a134;
    text-align: center;
    color: #fffff1;
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
  }
}

.users-menu {
  display: flex;
  gap: 24px;
  align-items: center;
}

.switch {
  // hsl(198, 90%, 15%);
  background-color: hsl(200, 7%, 82%);
  box-shadow: 0 0 0 0.125em hsla(223, 90%, 55%, 0);
  position: relative;
  border-radius: 20px;
  width: 74px;
  padding: 2px;
  display: flex;

  div {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 6px;
    justify-content: space-between;
    width: 100%;

    .iconChangeColor {
      color: #fff;
    }

    span {
      display: inline-block;
      padding: 2px;
    }
  }

  input {
    position: absolute;
    opacity: 0;
  }

  &__slider {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 29%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    color: #fff;
    z-index: 2;
  }

  &-active {
    background-color: hsl(192, 2%, 46%);
    box-shadow: 0 0 0 0.125em hsla(223, 90%, 55%, 0);
    transition: 0.5s;

    .switch__slider {
      transform: translateX(36px);
      background-color: hsl(0, 19%, 95%);
    }
  }
}
