* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

body {
  background-color: #fffff1;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  // border: 1px solid black;
}

.categories__button {
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: transparent;
  color: #8b8b8b;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 126%;
  text-align: center;
}

.navbar__item {
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  cursor: pointer;
  color: black;

  &-active {
  border-bottom: 2px solid black;
}
}

.productListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  gap: 32px; 
}


