.categories {
  &__block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    & h2 {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 64px;
      padding-right: 10px;
    }
    & hr {
      flex-grow: 1; /* Заставляем <hr> занять оставшееся пространство */
      border: none;
      border-top: 2px solid lightgray; /*Определяем стиль линии */
      margin: 0 0 0 10px; /* Отступы по бокам */
    }
  }
}
