.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

  &-dark {
    background-color: #424436;
  }

  &__content {
    display: flex;

    // display: grid;
    // grid-template-columns: 1,5fr 1fr;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
    overflow: hidden; /* Скрыть выходящие за пределы части изображения */
    position: relative;

    & img {
      max-width: 748px;
      height: auto;
      position: relative;
      left: 0; /* Начальная позиция */
      transition: transform 0.3s ease-in-out; /* Плавный переход для свойства transform */
    }
  }

  &__form {
    border-radius: 12px;
    padding: 32px 32px 0px 32px;
    // background: linear-gradient(220deg, #0b710b 0%, #393 100%);
    background: linear-gradient(37deg, #87933d 0%, #55610b 100%);
    text-align: center;
    color: #ffffff;

    & h3 {
      font-weight: 700;
      // font-size: calc(40px + 24 * (100vw - 320px) / 1120);
      font-size: 64px;
      line-height: 110%;
      margin-bottom: 24px;
    }
    &__container {
      display: flex;
      flex-direction: column;

      & form {
        width: 100%;
        max-width: 516px;
      }
      & input {
        width: 100%;
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid #ffffff;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        color: #ffffff;
        background-color: transparent;
      }
      & input::placeholder {
        color: #ffffff;
        opacity: 0.7;
      }

      .button-active {
        background-color: #f2f6d3;
        color: #92a134;
      }
    }

    & button {
      border-radius: 6px;
      margin-top: 16px;
      padding: 16px 32px;
      width: 100%;
      border: none;
      background: #ffffff;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      color: #000000;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;
    }
    & button:hover {
      background: #424436;
      color: #ffffff;
    }
  }
}

@media (max-width: 1000px) {
  .discount__content {
    gap: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 20px;
  }
  .discount__form {
    padding: 32px 0px 0px 0px;
  }
  .discount__form__container form {
    max-width: 450px;
  }
  .discount__content img {
    transform: translateX(-25%); /* Перемещение изображения влево на 25% */
    max-width: 602px;
    max-height: 308px;
  }
}
@media (max-width: 768px) {
  .discount__content {
    gap: 20px;
  }
  .discount__form {
    h3 {
      font-size: 53px;
    }
  }
  .discount__form__container form {
    max-width: 334px;
  }
  .discount__content img {
    transform: translateX(-35%); /* Перемещение изображения влево на 35% */
  }
}
@media (max-width: 480px) {
  .discount__form {
    h3 {
      font-size: 48px;
    }
  }

  .discount__content {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;

    img {
      transform: none;
      max-width: 418px;
    }
  }
  .discount__form__container form {
    max-width: 400px;
  }
}

@media (max-width: 360px) {
  .discount__form__container form {
    max-width: 280px;
  }

  .discount__form {
    h3 {
      font-size: 40px;
    }
  }
}
