.categories {
  &__navigation {
    margin: 40px 0;

    & span {
      color: lightgrey;
    }

    & button:last-of-type {
      color: #424436; /* Цвет текста для правой кнопки */
    }
  }

  &__ListContainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 80px;

    & p {
      font-size: 20px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__Container {
    flex: 1;
    text-align: center;
    max-width: 248px;
  }

  &__Img {
    max-width: 100%;
    margin-bottom: 16px;
  }
}
