.btn {
  background: #92a134;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  padding: 16px 56px;
  border: none;
  cursor: pointer;
  width: 100%;

  &:hover {
    background: #424436;
  }
}

.btn-white {
  background: #fff;
  color: black;

    &:hover {
    color: #fff;
  }

}
