.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-style {
  display: flex;
  align-items: center;
  gap: 22px;
}

.theme {
  max-width: 60px;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 30px 0;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu__item a {
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.menu__button {
  text-align: center;
  margin-bottom: 12px;

  &_small {
    border: none;
    border-radius: 6px;
    padding: 6px 16px;
    width: 151px;
    height: 32px;
    background: #92a134;
    text-align: center;
    color: #fffff1;
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
  }
}

.users-menu {
  display: flex;
  gap: 24px;
  align-items: center;
}

.main__text {
  font-weight: 700;
  font-size: 96px;
  line-height: 110%;
  color: #fffff1;
  margin-bottom: 40px;
}

.main__button_large {
  border: none;
  border-radius: 6px;
  background: #92a134;
  padding: 16px 56px;
  width: 218px;
  height: 58px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #fffff1;
}

.main-content {
  margin-bottom: 80px;

  &__item {
    position: absolute;
    padding-top: 80px;
    padding-left: 40px;
    top: 0;
    left: 0;
  }

  &__items {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__image {
    display: block;
    width: 100%;
  }
}

.categories {
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    & h2 {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 64px;
      padding-right: 10px;
    }
    & hr {
      flex-grow: 1; /* Заставляем <hr> занять оставшееся пространство */
      border: none;
      border-top: 2px solid lightgray; /*Определяем стиль линии */
      margin: 0 0 0 10px; /* Отступы по бокам */
    }
  }

  &__button {
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid lightgray;
    border-radius: 8px;
  }
  &__button a {
    text-decoration: none;
    color: gray;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 80px;

    &__images {
      flex: 1;
      text-align: center;

      & img {
        width: 100%;
        max-width: 316px;
        height: auto;
      }

      & p {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-optical-sizing: auto;
        font-style: normal;
      }
    }
  }
}

.discount {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
  }
  &__image {
    width: 100%;
    max-width: 748px;
    height: auto;
    background: url("/src/assets/images/imageForm.jpeg") no-repeat center center;
    background-size: cover;
  }
  &__form {
    border-radius: 12px;
    padding: 32px 32px 0px 32px;
    width: 100%;
    max-width: 1360px;
    height: auto;
    background: linear-gradient(220deg, #0b710b 0%, #393 100%);
    text-align: center;
    color: #ffffff;

    & h3 {
      font-weight: 700;
      font-size: 64px;
      line-height: 110%;
    }
    &__container {
      width: 100%;
      max-width: 516px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & form {
        width: 100%;
      }
      & input {
        width: 100%;
        height: 58px;
        margin-bottom: 16px;
        padding: 0 16px;
        border: 1px solid #ffffff;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        color: #ffffff;
        background-color: transparent;
      }
      & input::placeholder {
        color: #ffffff;
        opacity: 0.7;
      }
      & button {
        border-radius: 6px;
        margin-top: 16px;
        padding: 16px 32px;
        width: 100%;
        height: 58px;
        border: none;
        background: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #000000;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
      }
      & button:hover {
        background: #000000;
        color: #ffffff;
      }
    }
  }
}

.sale {
  margin-bottom: 80px;
}

.sale__all {
  font-weight: 700;
  font-size: 64px;
  color: #424436;
  padding: 10px;
}

.sale_item-line {
  margin-left: auto;
}

.sale__line {
  border: 1px;
  height: 2px;
  width: 1091px;
  background-color: #dddddd;
}

.sale__block {
  display: flex;
  align-items: center;
}

.sale_block-butlin {
  display: flex;
  margin-left: auto;
  margin-right: 5px;
  align-items: center;
}

.sale__button-item {
  padding: 8px 16px 8px 16px;
}

.all__sales {
  border-radius: 10px;
  border: 1px solid #dddddd;
  background-color: transparent;
  color: inherit;
  color: #8b8b8b;
  //size: 16px;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  margin-right: 0px;
}

.sale__main-section {
  display: flex;
}

.sale__priceBlock {
  position: relative;
  // display: flex;
  // flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin: 5px;
  width: 100%;
}

.sale__img-item {
  width: 100%;
}

.sale__discountPerc {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f26d22;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 10px;
  width: 68px;
  height: 34px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale__prices {
  margin-top: 10px;
}

.sale__description {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: #424436;
  text-overflow: ellipsis;
  margin-left: 30px;
}

.sale__realPrice {
  display: inline-block;
  font-weight: 600;
  font-size: 40px;
  color: #424436;
  margin-bottom: 20px;
}

.sale__oldPrice {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: #424436;
  text-decoration: line-through;
  padding: 10px;
}

.footer__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #424436;
  padding-bottom: 40px;
}

.footer__items {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 32px;
  margin-bottom: 32px;
}

.footer__item {
  background: #f2f6d3;
  border-radius: 12px;
  padding: 32px;
  max-width: 780px;
  max-height: 194px;
}

.footer__item_descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #8b8b8b;
  margin-bottom: 16px;
}

.footer__item_info {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: #424436;
}

.footer__item_image {
  margin-right: 18px;
}

iframe {
  margin-bottom: 80px;
}
