.list {

    &__item {
        display: flex;
        border: 1px solid #ddd;
        border-radius: 12px;
        gap: 32px;
        max-width: 780px;
        max-height: 180px; 
        
        &__image {
            border: 1px solid #ddd;
            border-radius: 12px 0 0 12px;
            max-width: 200px;
        }
    }
    
    &__content {
        padding: 32px 32px 32px 0px;
        max-width: 548px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        &__title {
            display: flex;
            justify-content: space-between;
            max-width: 516px; 
            gap: 16px

            & h3 {
                font-size: 20px;
                line-height: 130%;
                color: #424436;
            }
            & svg {
                width: 24px;
                height: 24px;
            }
        }
        &__price {
            max-width: 516px;
            display: flex;
            gap: 32px;
            align-items: center;

            &__block {
                display: flex;
                gap: 16px;
                align-items: baseline;
            
            
                & h3 {
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 110%;
                    color: #424436;
                }
                & h6 {
                    font-size: 20px;
                    line-height: 130%;
                    text-decoration: line-through;
                    text-decoration-thickness: 2px;
                    color: #8b8b8b;
                }
            }
        }
    }
}












